/* https://freshfork.github.io/p5.EasyCam/ */

*{
  margin: 0px;
  padding: 0px;
}

html{
  width:100%;
  height:100%;
  overflow: hidden;
}

body{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,1);
}


