body {
    margin: 0;
}
.split-box{
	position:absolute;
	width:80%;
	height:100%;
}
 
.left-box {
    left:0;
    background-color: orange;
}
 
.right-box {
	right:0;
    overflow-y:scroll;
    background-color: palegreen;
}


@media screen and (max-width:600px) { 
	.split-box {
		width:100%;
		height:auto;
 
	}
}