#left {
	position: absolute;
	top: 0;
	left: 0px;
	width: 220px;
	height: 100%;
	text-align: center;
	}
#right {
	position: absolute;
	top: 0;
	right: 0;
	left: 220px;
	height: 100%;
	border-left: 2px solid #ccc;
	}
iframe {
    border: none;
    height: 100%;
	width: 100%;
	}