body {
    margin: 0;
}
.split-box{
	position:absolute;
	width:80%;
	height:100%;
}
 
.left-box {
    left:0;
    background-color: darkred;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
 
.right-box {
	right:0;
    overflow-y:scroll;
    background-color: gainsboro;
}

#c1 {
    margin-left: 5px;
}
#c2 {
    margin-left: 5px;
}


@media screen and (max-width:600px) { 
	.split-box {
		width:100%;
		height:auto;
 
	}
}